body{
background-color: rgba(87, 158, 250, 0.795);
font: normal 15pt Arial;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

header {
    color: white;
}

section{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.493);
}

footer{
    margin-top: 30px;
}

#foto{
    width: 220px;
    height: 220px;
}

#foto img {
    width: 100%;
    height: 100%;
    border-radius: 125px;
}


